/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  width: 90%;
  max-width: 1200px;
}

.filter {
  margin-bottom: 20px;
}

.filter label {
  display: block;
  margin-bottom: 5px;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pagination-controls label {
  margin-right: 10px;
}

.pagination-controls button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.movie-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.movie-category {
  color: #555;
  margin-bottom: 20px;
}

.gauge {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  height: 10px;
}

.gauge-bar {
  height: 100%;
  background-color: #4caf50;
}

.like-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  margin-right: 10px;
}

.like-button:hover {
  background-color: #2980b9;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #c0392b;
}
